*,
*::before,
*::after {
    box-sizing: border-box;
}

 :root {
    --clr-icons: #929292;
    --clr-white: #fff;
    --clr-bg-dark: #242424;
    --clr-bg-light: #3b3b3b;
    --clr-accent: #ff7600;
    --br: 1.3rem;
}

body {
    font-family: "Lato", sans-serif;
    font-size: clamp(1.3rem, 2vw, 2rem);
    margin: 0;
}

header {
    margin: 0;
    padding: 0;
}

.skill_name {
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: bold;
}

.container {
    display: flex;
    max-width: 100%;
    height: 500px;
}

.container_skill {
    padding: 7%;
}

.--black {
    background-color: var(--clr-bg-light);
}

.--white {
    background-color: var(--clr-white);
}

//  here the SVG
.svg {
    position: absolute;
    height: clamp(4rem, 6vw, 10rem);
}

.svg__pack {
    display: flex;
}

.svg__top--left {
    position: absolute;
    width: 10px;
    fill: #ff7600;
}

.top__left {
    left: 0;
    fill: var(--clr-bg-light);
}

.top__right {
    right: 0;
    fill: var(--clr-bg-light);
}

// here the code for the Animated card
h1,
h2,
h3,
p {
    margin: 0;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: var(--br);
}

.card {
    max-width: 600px;
    border: 0px;
    text-align: center;
    position: relative;
    width: 65%;
    height: 89%;
    z-index: 10;
    background-color: transparent;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    h1 {
        font-weight: 300;
        margin-top: 2%;
        font-size: clamp(1rem, 6vw, 10rem);
    }
}

.back {
    line-height: 1.4rem;
    opacity: 0;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    .infos {
        font-weight: bold;
        margin-top: 100px;
        columns: 2;
        font-size: 2rem;
        text-align: center;
        margin-right: 8%;
        column-rule: 1px solid rgba(255, 255, 255, 0.25);
    }
    span {
        font-size: .9rem;
        display: block;
        font-weight: bold;
    }
    .description_profil {
        margin-top: 5%;
        font-size: 1.1rem;
    }
    .info_age {
        margin-left: 40%;
    }
}

.background {
    position: absolute;
    background: var(--clr-icons);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 1;
    border-radius: var(--br);
    transform: scale(.2, .3);
    transition: transform 200ms cubic-bezier(.07, .3, .69, 1.2), opacity 100ms linear;
}

.carousel-item {
    height: 400px;
    width: 400px;
    background-color: transparent;
}

.carousel {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    margin: 5% 3%;
}

@media(hover: none) {
    .card:hover {
        .front {
            transition: 250ms ease-in-out;
            transform: translateY(-25%) scale(.8);
        }
        .background {
            opacity: 1;
            transform: scale(1.15);
        }
        .back {
            opacity: 1;
        }
    }
}

@media(hover) {
    .card:hover {
        .front {
            transition: 250ms ease-in-out;
            transform: translateY(-25%) scale(.8);
        }
        .background {
            opacity: 1;
            transform: scale(1.15);
        }
        .back {
            opacity: 1;
        }
    }
}

footer {
    text-align: center;
    width: 100%;
    height: 100px;
    background: #242424;
    p {
        color: #fff;
        font-size: 1rem;
    }
}

// Here i finish the top animation of the profil
.part {
    position: absolute;
    text-align: center;
    // font-size: 1.2rem;
    line-height: clamps(1rem, 1vw, 2.4rem);
    font-family: "Lato", sans-serif;
    bottom: -5%;
    transform: translateY(-50%);
}

//Here goes the first carousel
.carousel-inner {
    padding: 5;
}

.container {
    text-align: center;
    position: relative;
    .--black {
        margin: 0;
        padding: 0;
    }
}

.carousel-item {
    height: 100%;
    width: 100%;
    .container.--black {
        color: var(--clr-white);
        .paragraphe_title {
            font-weight: 700;
            margin: 7%;
        }
    }
    .container.--white {
        color: var(--clr-bg-dark);
        .paragraphe_title {
            font-weight: 700;
            margin: 7%;
        }
    }
}

.major {
    position: absolute;
    display: none;
    z-index: 100;
    font-size: clamp(3rem, 5vw, 16rem);
}

//here begin the desktop design
@media (min-width:650px) {
    .name__minor {
        font-size: clamp(1rem, 6vw, 2.5rem)!important;
        opacity: 0;
    }
    .major {
        opacity: 1;
        display: inline;
        right: 15%;
        top: 25%;
        color: var(--clr-accent);
    }
    .card {
        top: 27%;
        left: 25%;
        max-width: 400px;
        transition: 250ms ease-in;
    }
    .carousel_image {
        padding: 2% 17% 2% 17%;
        margin-top: unquote("min(5vw, 2em)");
        max-width: max-content;
    }
    .part {
        position: absolute;
        bottom: 0%;
        right: 25%;
        transition: 250ms ease-in;
    }
    .top__right {
        opacity: 0;
    }
}

.paragraphe_title {
    font-size: 4rem;
    margin: 5px 0;
    color: rgb(218, 228, 236);
}

.text__control {
    max-width: 600px;
    min-width: 300px;
}

.part_ {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.accent {
    color: var(--clr-accent);
}

.white {
    color: var(--clr-white);
}

i {
    color: var(--clr-accent);
}

.body_skill {
    color: rgb(218, 228, 236);
}

.skill__name {
    color: var(--clr-accent);
}